@using Sample.Models
@using EPiServer.Web.Mvc.Html
@model Sample.Models.ViewModels.PreviewPageViewModel
@{
    Layout = null;
}
<head>
    <title>@(Model.CurrentContent.MetaTitle ?? Model.CurrentContent.Name)</title>
    <link href="~/main.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/fonts/fontawesome/css/all.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="well well-large">
            <div class="row">
                <div class="alert alert-info">Display Option: Full (default)</div>
            </div>
            <div class="row">
                @Html.DisplayFor(m => m.PreviewArea, new { Tag = Global.ContentAreaTags.FullWidth })
            </div>
        </div>
    </div>
    <script src="~/main.min.js" asp-append-version="true"></script>
</body>