@model Sample.Models.ViewModels.BrandDetailsPageViewModel
<div class="container max-w-screen-xl mx-auto px-4">
    Brand details page
    @Html.PropertyFor(x => x.CurrentContent.MainBody)
    @Html.PropertyFor(x => x.CurrentContent.MainContentArea)
</div>
